<div class="container cf">
  <div class="col col2">
    <div class="panel">
      <div class="head">
        <span class="label">{{app.name}}</span>
      </div>
      <div class="body fixed large">
          <span class="entry "><span class="content">Organisation: {{organisation}}</span></span>
          <span class="entry "><span class="content">Sub Domain: {{app.subDomain}}</span></span>
          <span class="entry "><span class="content">Api Key: {{app.apiKey}}</span></span>
          <span class="entry "><span class="content">Data Key: {{app.dataKey}}</span></span>
          <span class="entry "><span class="content">Git Repo: {{app.gitRepo}}</span></span>
          <span class="action"><a href='/apps/{{app.name}}/edit' class="action-link add">Edit {{app.name}}</a></span>
          <span class="action"><a href='/apps/{{app.name}}/delete' class="action-link delete">Delete {{app.name}}</a></span>
      </div>
    </div>
  </div>
</div>
