  <div class="container cf">
    <div class="col col2">
      <div class="panel">
        <div class="head">
          <span class="label">Delete {{name}}</span>
        </div>
        <div class="body">
          <span class="entry "><span class="content">Are you sure you want to delete {{name}}?</span></span>
          <span class="action"><a href='/{{type}}/{{name}}/delete' class="action-link delete">Delete {{name}}</a></span>
        </div>
      </div>
    </div>
  </div>