<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <p>Edit {{app.name}}<p>
  </header>
  <form action="/apps/{{app.name}}/update" method="post">
    App name: <input type="text" name="name" value='{{app.name}}' required><br>
    Sub-Domain: <input type="text" name="subDomain" value='{{app.subDomain}}' required><br>
    Api Key: <input type="text" name="apiKey" value='{{app.apiKey}}' required><br>
    Data Key: <input type="text" name="dataKey" value='{{app.dataKey}}' required><br>
    Git Repo: <input type="text" name="gitRepo" value='{{app.gitRepo}}' required><br>
  
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>