<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <p>Edit {{user.name}}<p>
  </header>
  <form action="/users/{{user.name}}/update" method="post">
    User name: <input type="text" name="name" value='{{user.name}}' required><br>
    Add Organisation: {{#addOrgDropDown organisations}}{{name}}{{/addOrgDropDown}}<br>
    Remove Organisation: {{#removeOrgDropDown organisations}}{{name}}{{/removeOrgDropDown}}<br>
    Add Email Address : <input type="text" name="emailAddress" placeholder='Email Address'><br>
    Remove Email Address : {{#removeEmailDropDown user.emailAddresses}}{{address}}{{/removeEmailDropDown}}<br>
    New Password Holder:  <input type="password" name="password" ><br>
    <input type="submit" value="Submit">
  </form>
  
</body>
</html>