<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <h1>{{organisation.name}} Organisation<h1>
  </header>
  <p>Git Folder: {{organisation.gitFolder}}</p>
  <a href= '/organisations/{{organisation.name}}/edit'><button type="submit" formmethod="get">Edit {{organisation.name}}</button></a>
  <a href= '/organisations/{{organisation.name}}/delete'><button type="submit" formmethod="get">Delete {{organisation.name}}</button></a>
  <div class = 'apps'>
  <h2>Existing apps:</h2>
    <p>{{#appsList apps}} {{name}} {{/appsList}}</p>
    <a href= '/organisations/{{organisation.name}}/apps/new'><button type="submit" formmethod="get" formaction="/apps/new">New App</button></a>
  </div>

</body>
</html>