<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <div class="col col2">
    <div class="panel">
      <div class="head">
        <span class="label">{{user.name}}</span>
      </div>
      <div class="body fixed large">
          <span class="entry "><span class="content">Organisations:</span></span>
          {{#each user.organisations}}
          <span class="entry">
            <span class="content">
              {{this}}
            </span>
          </span>
          {{/each}}

          <span class="entry "><span class="content">Email Addresses: </span></span>
          {{#each user.emailAddresses}}
          <span class="entry">
            <span class="content">
              {{address}}
            </span>
          </span>
          {{/each}}
          <span class="action"><a href='/users/{{user.name}}/edit' class="action-link add">Edit {{user.name}}</a></span>
          <span class="action"><a href='/users/{{user.name}}/delete' class="action-link delete">Delete {{user.name}}</a></span>
      </div>
    </div>
  </div>


</body>
</html>