<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <a href= '/' id='home-buton'><button type="submit">Home</button></a>
    <h1>{{user.name}}<h1>
  </header>
  Name: {{user.name}}<br>
  Organisations: {{user.organisations}}<br>
  Email Addresses: {{#userEmailsList user.emailAddresses}} {{address}} {{/userEmailsDropDown}}<br>
  <a href= '/users/{{user.name}}/edit'><button type="submit" formmethod="get">Edit {{user.name}}</button></a>
  <a href= '/users/{{user.name}}/delete'><button type="submit" formmethod="get">Delete {{user.name}}</button></a>
  
</body>
</html>